.Grid {
	width: 800px;
	height: 800px;
	margin: auto;
	margin-top: 50px;
}

.GridRow {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}

.GridColumn {
	order: 1;
	width: 100%;
	position: relative;
}

.GridColumn:before {
	content: "";
	display: block;
	padding-top: 100%;
	/* initial ratio of 1:1*/
}

.GridContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: lightgray;
	border: 2px solid white;
}
.Active {
	background: green;
}